/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font imports */
@font-face {
    font-family: 'Vera Humana 95';
    src: url('vera_humana_95/Verahb__.ttf');
}

@font-face {
    font-family: 'Classico URW';
    src: url('classicourw/classicourw-regular.woff')
}

@font-face {
    font-family: 'Agrandir';
    src: url('/Agrandir/Agrandir-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Vollkorn';
    src: url("https://fonts.googleapis.com/css?family=Vollkorn");
}

/* Body styles */
body {
    font-family: 'Agrandir', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

/* Header styles */
header {
    background-color: #fff;
    color: black;
    width: 100%;
    padding: 5px 0;
    display: inline-flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
}

/* Navbar styles */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* Navbar list styles */
nav ul {
    list-style: none;
}

/* Navbar list item styles */
nav li {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 1.1em;
}

/* Navbar link styles */
nav a {
    display: inline-flex;
    text-decoration: none;
    color: #333;
    align-items: center;
}

/* Styles for hover effects on links */
nav ul li a:after,
nav u li a:before { 
    transition: .3s cubic-bezier(0, 0.5, 0, 1);
}

nav ul li a{
    position: relative;
}

nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: #aaa;
    height: 2px;
}

nav ul li a:hover:after {
    width: 100%;
}

/* Styles for visited links */
nav a:visited {
    color: midnightblue;
}

/* Logo image styles */
.logo img {
    max-width: 250px;
    padding-right: 10px;
}

/* Hero section styles */
.hero {
    background-repeat: no-repeat;
    color: #fff;
    border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
    display: inline-flex;
    position: relative;
    align-self: center;
}

/* Hero image styles */
.heroimg{
    width: 60vw;
    background-image: url(img/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Hero video styles */
.herovid {
    width: 60vw;
    height: 100%;
}

/* Hero description styles */
.herodesc {
    background-color: #F0F0EA;
    color: #2A3B55;
    width: 40vw;
    padding: 40px;
}

/* Hero description heading styles */
.herodesc h1 {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    position: relative;
    margin: 0;
}

/* Hero description paragraph and ul styles */
.herodesc p, .herodesc ul {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    margin: 0;
}

/* Hero button styles */
.hero a {
    background-color: #333;
    color: #FFF;
    margin-top: 200px;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: 200ms ease-in-out;
    position: relative;
    align-self: center;
}

/* Hero button hover styles */
.hero a:hover {
    background-color: #161a46;
}

/* Styling for Our Plans section */
.our-plans {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #F0F0EA;
    text-align: center;
}

/* Styling for Our Plans section heading */
.our-plans h1 {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    position: relative;
    margin: 0;
}

/* Display plans horizontally using flex */
.plan-container {
    display: flex;
}

/* Styling for plan listings */
.plan {
    flex: 1;
    display: flex;
    flex-direction: column;;
    width: 20%;
    margin: 3%;
    background-color: white;
    border-radius: 10px;
    padding-top: 2%;
    font-size: 20px;
    height: max-content;
}



/* Styling for plan title */
.plan-title {
    width: 100%;
    padding:0 5% 5%;
    border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
}

/* Plan description styles */
.plan-desc {
    width: 100%;
    height: 100%;
    padding-top: 9%;

}

/* Icon container styles */
.icon {
    width: 80%;
    display: inline-flex;
    justify-content: space-evenly;
}

/* Font Awesome icon styles */
.fas {
    padding-top: 2%;
}

/* Row container styles */
.row {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 10%;
}

/* Styles for last row */
.row:last-of-type {
    align-items: center;
    background-color: #161a46;
    color: white;
    margin-top: 5%;
    padding: 5% 10%;
    border-radius: 0 0 10px 10px;
}

/* Heading styles for Featured Recipes section */
.featured-h2 {
    font-family: 'Vollkorn';
    padding: 30px 0 0 10px;
    text-align: center;
}

/* Featured recipes container styles */
.featured-recipes {
    padding: 40px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

/* Recipe card styles */
.recipe-card {
    display: inline-block;
    padding: 25px;
    margin: 15px;
    width: 350px;
    border-radius: 10px;
    background-color: #f5f5f5;

}

/* Card information styles */
.card-info {
    font-size: 1.1em;
    padding: 5px;
    margin: 5px;
    height: 50px;
    align-items: center;
}

/* Styling for card info heading */
.card-info h3 {
    font-weight: 400;
}

/* Recipe card image styles */
.recipe-card img {
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    margin-bottom: 10px;
}

/* Recipe card hover effect */
.recipe-card:hover img {
    transform: scale(1.03);
}

/* Why Us section styles */
.why-us {
    text-align: center;
    padding: 40px 0;
    font-size: large;
    font-weight: 500;
    align-items:baseline;
}

/* Styling for Why Us section headings */
.why-us h2 {
    font-weight: 500;
}

.why-us h3 {
    font-family: 'Classico URW';
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

/* Styling for Why Us section image */
.why-us img {
    max-width: 150px;
}

/* Styling for reason container */
.reason {
    display: inline-block;
    margin: 20px;
    max-width: 300px;
    height: 300px;
}

/* Styles for container containing all the steps */
.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Steps header styles */
.steps-head {
    width: 100%;
    text-align: center;
    font-size: larger;
    padding: 40px 0;
    color: white;
    background-color: #161a46;
}

/* Styling to align the steps horizontally */
.steps-container {
    display: flex;
    padding: 30px 0;
    flex-direction: row;
    text-align: center;
}

/* Styling for individual steps */
.steps-item {
    padding: 30px 10px
}

.steps-item img {
    max-width: 250px;
}

/* Wrapper for testimonials */
.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

/* Testimonial box styles */
.wrapper .box{
    background: #fff;
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}

/* Quote icon styles */
.wrapper .box i.quote{
    font-size: 20px;
    color: #161a46;
}

/* Testimonial content styles */
.wrapper .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

/* Customer names styles */
.box .info .name{
    font-family: 'Vera Humana 95';
    font-weight: 500;
    font-size: 17px;
}

/* Styles for star icons */
.box .info .stars{
    margin-top: 2px;
}
.box .info .stars i{
    color: #161a46;
}

/* Styles for customer profile picture container*/
.box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #161a46;
    border-radius: 50%;
}

/* Styles for customer profile picture image */
.content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

  /* FAQ page hero image styles */
.heroimg img{
    max-height: 650px;
    margin: 0;
}

/* FAQ container styles */
.faq {
    padding: 5% 10%;
    font-size: 1.3rem;
}

/* FAQ link styles */
.faq a {
    color: #aaa;
}

/* FAQ link hover effect */
.faq a:hover {
    color: gray;
}

/* Question styles */
.question {
    padding-bottom: 5%;
}
.question ul {
    padding-left: 40px;
}

/* Google Maps embed styles */
iframe {
    width: 600px;
    height: 450px;
    border: 0;
}

/* Contact Us section styles */
.contact-us {
    padding: 5% 10%;

}

/* Styling for items inside the Contact Us section */
.contact-us h1, .contact-us h2,  .contact-us h3, .contact-us p, .contact-us iframe {
    padding-bottom: 45px;
}

/* Footer styles */
footer {
    background-color: #F0F0EA;
    color: #333;
    text-align: center;
    padding: 30px 0;
} 

/* Styling for footer links */
footer a {
    text-decoration: none;
    color: #333;
}

/* Hover effect for footer links */
footer a:hover {
    color: grey;    
}