/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Vera Humana 95';
    src: url('vera_humana_95/Verahb__.ttf');
}

@font-face {
    font-family: 'Classico URW';
    src: url('classicourw/classicourw-regular.woff')
}

@font-face {
    font-family: 'Agrandir';
    src: url('/Agrandir/Agrandir-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Vollkorn';
    src: url("https://fonts.googleapis.com/css?family=Vollkorn");
}

body {
    font-family: 'Agrandir', sans-serif;
    background-color: #fff;
}

header {
    background-color: #fff;
    color: black;
    width: 100vw;
    padding: 5px 0;
    display: inline-flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
}

.nav-main {
    display: inline-flex;
    align-items: center
}

nav {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 1vw;
}

nav a {
    display: inline-flex;
    text-decoration: none;
    color: #333;
    align-items: center;
}


nav ul li a:after,
nav u li a:before { 
    transition: .3s cubic-bezier(0, 0.5, 0, 1);
}

nav ul li a{
    position: relative;
}

nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: #aaa;
    height: 2px;
}

nav ul li a:hover:after {
    width: 100%;
}

nav a:visited {
    color: midnightblue;
}

.logo img {
    max-width: 250px;
    padding-right: 10px;
}

.cta a {
    color: #333;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
}

.hero {
    background-repeat: no-repeat;
    color: #fff;
    border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
    display: inline-flex;
    position: relative;
    align-self: center;
    min-height: 650px;
}

.heroimg{
    width: 60vw;
    background-image: url(img/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.herovid {
    width: 60vw;
}

video {
    border: none;
    outline: none;
}

.herodesc {
    background-color: #F0F0EA;
    color: #2A3B55;
    width: 40vw;
    padding: 40px;
}

.herodesc h1 {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    position: relative;
    margin: 0;
}

.herodesc p, .herodesc ul {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    margin: 0;
}

.centered-text {
    height: 10vh;
    text-align: center;
    background-color: pink;
}

.centered-text h1 {
    text-align: center;
}

.hero a {
    background-color: #333;
    color: #FFF;
    margin-top: 200px;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: 200ms ease-in-out;
    position: relative;
    align-self: center;
}

.hero a:hover {
    background-color: #161a46;
}

.our-plans {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    background-color: #F0F0EA;
    text-align: center;
}

.our-plans h1 {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    position: relative;
    margin: 0;
}

.plan-container {
    display: flex;
}

.plan {
    width: 20%;
    margin: 3%;
    background-color: white;
    border-radius: 10px;
    padding-top: 2%;
    font-size: 20px;
}

.plan-title {
    width: 100%;
    padding-bottom: 3%;
    border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
}

.plan-desc {
    width: 100%;
    height: 100%;
    padding-top: 9%;

}

.icon {
    width: 80%;
    display: inline-flex;
    justify-content: space-evenly;
}

.fas {
    padding-top: 2%;
}

.row {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 10%;
}

.row:last-of-type {
    align-items: center;
    background-color: #161a46;
    color: white;
    margin-top: 5%;
    padding: 5% 10%;
    border-radius: 0 0 10px 10px;
}


.featured-h2 {
    font-family: 'Vollkorn';
    padding: 30px 0 0 10px;
    text-align: center;
}

.featured-recipes {
    padding: 40px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.recipe-card {
    display: inline-block;
    padding: 25px;
    margin: 15px;
    width: 350px;
    border-radius: 10px;
    background-color: #f5f5f5;

}

.card-info {
    font-size: 1.1em;
    padding: 5px;
    margin: 5px;
    height: 50px;
    align-items: center;
}

.card-info h3 {
    font-weight: 400;
}

.recipe-card img {
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    margin-bottom: 10px;
}

.recipe-card:hover img {
    transform: scale(1.03);
}


.why-us {
    text-align: center;
    padding: 40px 0;
    font-size: large;
    font-weight: 500;
    align-items:baseline;
}

.why-us h2 {
    font-weight: 500;
}

.step {
    display: inline-block;
    margin: 20px;
    max-width: 300px;
    height: 300px;
}

.why-us img {
    max-width: 150px;
}

.why-us h3 {
    font-family: 'Classico URW';
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

/* How it works page */
.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.steps-head {
    width: 100vw;
    text-align: center;
    font-size: larger;
    padding: 40px 0;
    color: white;
    background-color: #161a46;
}

.steps-container {
    display: flex;
    padding: 30px 0;
    flex-direction: row;
    text-align: center;
}

.steps-item {
    padding: 30px 10px
}

.steps-item img {
    max-width: 250px;
}

footer {
    background-color: #F0F0EA;
    color: #333;
    text-align: center;
    padding: 30px 0;
} 

footer a {
    text-decoration: none;
    color: #333;
}

footer a:hover {
    color: grey;    
}

/*  */
.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .box{
    background: #fff;
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  }
  .wrapper .box i.quote{
    font-size: 20px;
    color: #161a46;
  }
  .wrapper .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name{
    font-family: 'Vera Humana 95';
    font-weight: 500;
    font-size: 17px;
  }
  .box .info .stars{
    margin-top: 2px;
  }
  .box .info .stars i{
    color: #161a46;
  }
  .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #161a46;
    border-radius: 50%;
  }
  .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .box:hover .content .image img{
    border-color: #fff;
  }

  /* FAQ */
.heroimg img{
    max-height: 650px;
    margin: 0;
}

.faq {
    padding: 5% 10%;
    font-size: 1.3rem;
}

.faq a {
    color: #aaa;
}

.faq a:hover {
    color: gray;
}

.question {
    padding-bottom: 5%;
}

.question ul {
    padding-left: 40px;
}

/* Contact Us Page */
iframe {
    width: 600px;
    height: 450px;
    border: 0;
}

.contact-us {
    padding: 5% 10%;

}

.contact-us h1, .contact-us h2,  .contact-us h3, .contact-us p, .contact-us iframe {
    padding-bottom: 45px;
}

